.title {
    font-family: 'Galada', cursive;
}

header {
    text-align: center;
    align-items: center;
    align-self: center;
}

h1 {
    text-align: center;
    align-self: center;
    align-items: center;
    font-size: clamp(40px, 5vw, 60px);
}

h2 {
    text-align: center;
    align-self: center;
    align-items: center;
    font-size: clamp(30px, 3px, 50px);
}

body {
    text-align: center;
    align-self: center;
    align-items: center;
}

table, th, td {
    align-self: center;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    width: auto;
}

footer {
    text-align: center;
    align-self: center;
    align-items: center;
    position: relative;
    bottom: 0;
    padding: 2rem;
    width: 100%;
    height: auto;
    line-height: auto;
    margin-top: 50px;
}

ul {
    align-items: center;
    align-self: center;
    align-content: center;
    width: auto;
}

li.list-group-item {
    size: 3px;
    border: none;
    align-items: center;
    align-self: center;
    align-content: center;
    background: transparent;
    color: white;
    padding: 2;
    margin: 2px;
}

i {
    text-align: center;
    align-self: center;
    align-items: center;
    font-size: 1rem;
    color: lightblue;
}

a {
    text-align: center;
    align-self: center;
    align-items: center;
    font-size: 1rem;
    color: #ffc107;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: chocolate;
}