.title {
    font-family: 'Galada', cursive;
}

header {
    text-align: center;
    align-items: center;
    align-self: center;
}

h1 {
    text-align: center;
    align-self: center;
    align-items: center;
    font-size: clamp(40px, 5vw, 60px);
}

h2 {
    text-align: center;
    align-self: center;
    align-items: center;
    font-size: clamp(30px, 3px, 50px);
}

body {
    text-align: center;
    align-self: center;
    align-items: center;
}

table, th, td {
    border-collapse: collapse;
    align-self: center;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    width: auto;
}

th {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: #ffc107;
}

.exam {
    font-weight: bold;
    color: #ffc107;
}

footer {
    text-align: center;
    align-self: center;
    align-items: center;
    position: relative;
    bottom: 0;
    padding: 2rem;
    width: 100%;
    height: auto;
    line-height: auto;
    margin-top: 50px;
}

ul {
    align-items: center;
    align-self: center;
    align-content: center;
    width: auto;
}

li.list-group-item {
    align-items: center;
    align-self: center;
    align-content: center;
    border: none;
    background: transparent;
    color: white;
}

i {
    text-align: center;
    align-self: center;
    align-items: center;
    font-size: 1rem;
    color: lightblue;
}

a {
    font-weight: bold;
    text-align: center;
    align-self: center;
    align-items: center;
    font-size: 1rem;
    color: burlywood;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: chocolate;
}

hr {
    height: 1px;
    width: 50%;
    margin: auto;
}